    body {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        color: #f9faf8;
        font-size: 24px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 20px;
        font-size: medium;
    }

    a {
        text-decoration: none;
        color: #E5E7EB;
    }

    .hero {
        background-color: #1F2937;
        min-height: 50vh;
    }

    .image-placeholder  {
        height: 200px;
        width: 300px;
        margin-top: 70px;
    }

    .hero-content {
        display: flex;
        justify-content: space-between;
        justify-content: center;
    }

    .maintext {
        color: #f9faf8;
        font-weight: 900;
        font-size: 48px;
    }

    .subtext  {
        color: grey;
    }

    .sign-up1 {
        background-color: #3882f6;
    }

    .maintext1  {
        margin-top: 70px;
        margin-left: 10px;
        margin-right: 50px;
    }

